<!DOCTYPE html>
<html lang="en">

<head>
    <title>Dexter</title>
    <%- include('snippets/head.ejs') %>
        <link rel="stylesheet" href="/1/style.css" />
        <!-- The website JavaScript file -->
        <script src="/script.js" defer></script>
</head>

<body>
    <%- include('snippets/navbar.ejs') %>
</body>