<div id="topBar">
    <div id="logoArea">
        <img src="https://malung-gyvux.dexter-ist.com/Malung-gyvux/style/current/images/logo_IST.gif">
        <h2 class="logo">
            Dexter
        </h2>
    </div>
    
    <div id="menuItemContainer">
        <div class="dropdown">
            <button class="menuItem">Expeditionen</button>
            <div class="dropdown-content">
                <a href="/" class="dropDownItem">Elevscheman</a>
            </div>
        </div>
        <div class="dropdown">
            <button class="menuItem">Klassrummet</button>
            <div class="dropdown-content">
                <a href="/" class="dropDownItem">Mitt schema</a>
                <a href="/" class="dropDownItem">Min studieplan</a>
            </div>
        </div>
    </div>
</div>